name: CI/CD Pipeline MegaPowerReal (Python only)

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  build-and-run:
    name: Build & Run Pipeline Python
    runs-on: ubuntu-latest

    env:
      EMAIL_USER: ${{ secrets.SENDER_EMAIL }}
      EMAIL_PASS: ${{ secrets.SENDER_PASSWORD }}
      EMAIL_TO: ${{ secrets.RECEIVER_EMAIL }}
      EMAIL_HOST: smtp.gmail.com
      EMAIL_PORT: 465

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas html5lib openpyxl requests lxml

      - name: Check Python packages
        run: pip list

      - name: Run MegaPowerReal pipeline
        run: python main.py

      - name: Upload report artifact
        uses: actions/upload-artifact@v4
        with:
          name: mega-power-report
          path: ./reports
          retention-days: 1
